.x-coordinate {

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding: 5px;
}

.y-coordinate {

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    height: 90px;
    padding: 5px;
    text-align: right;

}

.map-button {

    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px black;
    margin-top: 10px;
}

.map-grid-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 30px 1200px 200px;
    grid-template-rows: 20px 900px;
}

.map-grid-box {

    border: 1px solid green;
    background-color: whitesmoke;
}

.map-grid-button-column {
    
    border: 1px solid yellow;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.map-grid-x-coords {

    border: 1px solid blue;
    background-color: #101010;
    background-color: #eeaa77;
    display: flex;
    flex-direction: row;
}

.map-grid-y-coords {

    border: 1px solid purple;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.mouse-pos-text {
    fill: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.zoom {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.zoom10 { font-size: 12px; }
.zoom9 { font-size: 10.8px; }
.zoom8 { font-size: 9.6px; }
.zoom7 { font-size: 8.4px; }
.zoom6 { font-size: 7.2px; }
.zoom5 { font-size: 6px; }
.zoom4 { font-size: 4.8px; }
.zoom3 { font-size: 3.6px; }
.zoom2 { font-size: 2.4px; }
.zoom1 { font-size: 1.2px; }